@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1560931676276'); /* IE9 */
  src: url('iconfont.eot?t=1560931676276#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABnAAAAKNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwfAE2AiQDCAsGAAQgBYRtBzwbrgUR1ZMJZH+COMZ2QMlACNVzjNt3mJZl9LfFO5GfBfiW4M0DRwpGgQ0AAAAAEMTjfnovyW9THisGNQ9ACgAkkhobPSEn1ByBBJLTXdy0ukbF4a5ETYHeuY6TlsAP4avlBM+uB9y7du/kEefO6GkP6LdSsYBnX3izZTqw2ugdoudQosmdt8WWWOLF+C1wMSSpARgeYCRz5H8ApETCkAGX059AgcwDym1PGnPgmICBpQHtjVEgAZdI5g1jF7iE+xDASyL5SEXZ0IHFYC0TQKbbsQFszo/BsJRFcNXsNcgxcLDqEF1xFH5ffkKxoHA0VkXLaOUwJe/aGXgjfrdPgAAI6LADaCAfMCAdtfEmNMI4Gm/ckAr7KhV4N+7bkL2aEfbXWcV+AOKh5J6kruxWixUAJh5OAHJGjQcV554Z0J39Gu897oOfx7aLbCtcX4R+u0KLOvmlc/rPBV77RbVyrFqPDI83yjT4Gy4AhKPt3yRAAIGl/OpR/dsyADze3aE3HAP6OcHu0SHwZ6Q9u4wut6zKqNJapyJh1FIFePECYdgdxdtYQ+xtpAVL7M2o3Lo0hcaSTho2Hw4+iuDCUgwveVQf9hHNIhoxHiCXXQAhgksoglxBE8E1adhXOMTxBxcRouGlS5zpI1NM0jOmggVkO1Ded8axi45Kb2jnJuWsPOS+kCcKQeD6xVSCHfIcG6bFhiIGDPctxOAxbJoeBu4rzMUtRYbI80zdi9y8b5VmxlSwANkOKO874w8WXfr8De3cpNxSVxN9IU80Ogi4/B5koul61d3LM9NiQyIGGO5bEINZ2DQ9GOpnVZiLqxwRHSKe3c/01bjr69oPKGZNWEbEHq+xJHORdnYkr2ZFOkpSCgA=') format('woff2'),
  url('iconfont.woff?t=1560931676276') format('woff'),
  url('iconfont.ttf?t=1560931676276') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1560931676276#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditudangqianweizhi:before {
  content: "\e60c";
}

